<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        td{
        text-align: center;
        }

        .td1 {
	        text-align: center;
         }

        a{
            display: inline-block;
        }
    </style>
    <title>작성 가능한 리뷰 내역</title>
</head>
<body>
<a href="/">HOME</a>
<h1>작성 가능한 리뷰 내역</h1>
<a href="/writableReview"><button>작성 가능한 리뷰 내역</button></a>
<a href="/review"><button>리뷰 내역</button></a><br><br>
<table border="1" width="50%">
    <thead>
    <tr>
        <th>이용 매장명</th>
        <th>방문 시간</th>
        <th>비고</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="list : ${writableList}">
        <td th:text="${list.storeName}">이용 매장명</td>
        <td th:text="${list.entranceDate}">방문 시간</td>
        <td class="td1"><a href="/writeReview" th:href="@{/writeReview(id=${list.id}, name=${list.storeName})}"><button type="button">리뷰 쓰기</button></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>