<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매장 예약</title>

</head>
<body>
<h1>[[${store.name}]] 매장 예약</h1>
<form action="/reservation/new" method="post">
    <input type="hidden" name="storeName" th:value="${store.name}">
    <input type="hidden" name="uid" th:value="${uid}">

    <p>
    <label for="date">날짜</label>
    <input type="datetime-local" name="date" id="date" class="start-date">
        <script rel="script" type="text/javascript" src="/js/reservation.js"></script>
    </p>

    <p>
    <label for="userName">예약자</label>
    <input type="text" name="userName" id="userName" th:value="${userName}" readonly="readonly">
    </p>

    <p>
        <label for="tel">전화번호</label>
        <input type="text" name="tel" id="tel" th:value="${tel}" readonly="readonly">
    </p>
    <button type="submit">예약하기</button>
    <p th:text="${failMsg}" style="color: red"></p>
</form>
</body>
</html>